{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE KINGSMAN</title>
    <link rel="stylesheet" href="{% static 'completed.css' %}">
</head>
<body>
    <header>
        <h1>Your Request has been Completed Successfully!</h1>
        <h2>Thank You for Patronizing THE KINGSMAN, the place fit for Kings and Queens.</h2>
    </header>
</body>
</html>
                
                
          
            
                

                
            
    
            
            
            
            
          
           
    
            
            
           
                
            
    
   