{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE KINGSMAN</title>
    <link rel="stylesheet" href="{% static 'customer.css' %}">
</head>
<body>
    <header>
        <h1>Pricing Form</h1>
    </header>
    <main>
        
        <form action="" method="POST"> {% csrf_token %}
            <section>
                <h2>Pricing Details</h2>
                <ul>
                    <li>
                        <label for="PricingType">Pricing Type:</label>
                        <input type="text" name="pricing-type" id="PricingType" required placeholder="Pricing Type">
                    </li>
                    <li>

                        <label for="currencytype">Currency:</label>
                        <input type="text" name="currency-type" id="currencytype" required >
        
                    </li>
              
                </ul>
            </section>
                <button type="button"><a href="/delivery">Back</a></button>
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>
            </section>
        </form>
    </main>
</body>
</html>
                
                
          
            
                

                
            
    
            
            
            
            
          
           
    
            
            
           
                
            
    
   